<!DOCTYPE html>
<html>
    <head>
        <title><%=title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'>
    </head>
    <body>
        <h2><%=title %></h2>
        <form enctype="multipart/form-data" method="POST" action="/api/upload">
            <input type="file" name="student"><br><br>
          <button>Submit</button>

        </form>
    </body>

</html>