<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/form.css'/>
    </head>
    <body>
        <form method="POST" class="login" action="/api/register">
            <h1 class="login-title">Register</h1>
       
        <input class="login-input"type="text" name="firstname" placeholder="Firstname"><br><br>
      <input class="login-input" type="text" name="lastname" placeholder="Lastname"><br><br>

       <input class="login-input" type="text" name="username" placeholder="Username"><br><br>
      <input class="login-input" type="password" name="password" placeholder="Password"><br><br>
      <input type="submit" value="Upload" class="login-button">
      
    </form>
    </body>

</html>