table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-left:auto; 
    margin-right:auto;
    background: white;
    border: 1px solid #c4c4c4;
}
h3{
  
    padding: 15px;
    width:57.6%;
    font-size: 25px;
    font-weight: 300;
    color: #ADADAD;
    text-align:center;
    background: #f7f7f7;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.4px;
}
body{
    background: #ccc;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color :#fff 
}

/* tr:nth-child(even) {
    background-color: #dddddd;
} */